.app {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 20px;
}

@media screen and (max-width: 415px) {
    .app {
      margin: 0px;
      overflow-x: hidden;
      width: 100vw;
    }

    .search-error {
      font-size: 15px;
      text-align: center;
    }
  }
