.featured-parent-container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100vw;
}

.featured-image {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    height: auto;
    margin: 20px;
    width: 500px;
}

.featured-work {
    align-items: center;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 50%;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    width: 70%;
}

.details-and-btn-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: flex-end;
}

.add-to-collection-btn {
    background-color: #474647;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    color: white;
    margin-top: 70px;
    padding: 10px 40px;
    width: 60%;
}

.title {
    font-size: larger;
    font-weight: bolder;
}

@media screen and (max-width: 415px) {
    .featured-image {
        height: auto;
        margin: 0px;
        margin-top: 10px;
        width: 275px;
    }

    .featured-work {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100vw;
 
    }

    .featured-parent-container {
        display: flex;
        height: auto;
        padding: 0px;
        margin: 0px;
        width: 100vw;
    }

    .title {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    .add-to-collection-btn {
        margin-top: 10px;
    }

    .details-and-btn-container {
        height: auto;
        justify-content: flex-start;
    }
}
