h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 60px;
    margin-left: 20px;
  }

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-and-btn {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

input {
    margin: 20px;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
}

button {
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    background-color: #474647;
    border: none;
}