.works-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    margin-left: 40px;
}


@media screen and (max-width: 415px) {
    .works-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        margin: 0px;
        margin-left: 10px;
        width: 100vw;
    }
}