.thumbnail {
    height: 300px;
    width: auto;
}

.work {
    height: 300px;
    width: 20vw;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 415px) {
    .work {
        width: 300px;
        height: auto;
        margin: 5px;
        margin: 0px;
    }
    .thumbnail {
        width: 300px;
        height: auto
    }
}